<% if user_signed_in? %>
  <h3><%= current_user.email %></h3>
  <h3><%= link_to 'Open a help request', new_help_request_path %><h3><br />
<% end %>

<h3><%= link_to "Urban-Hacktionary", words_path %><h3>



