<% provide :title, 'Types' %>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @types.each do |type| %>
    <tr>
      <td><%= type.name %></td>
      <td><%= link_to 'Delete', type, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a Type', new_type_path, :class => 'btn btn-primary' %></p>