<% provide :title, "Definitions and history for '#{@word.term}'" %>

<table class="table">
  <thead>
    <tr>
      <th class="span8">Definition</th>
      <th class="span2">Author</th>
      <th class="span2">Date</th>
    </tr>
  </thead>
  <% @word.definitions.each do |definition| %>
    <tr>
      <td class="span8"><%= definition.text %></td>
      <td class="span2"><%= definition.user.email %></td>
      <td class="span2"><%= definition.created_at.localtime.strftime("%x") %></td>      
    </tr>
  <% end %>

</table>
