<% provide :title, "Definition and history for #{@word.term}" %>

<table class="table">
  <tr>
    <td><b>Definitions</b></td>
    <td><b>Author</b></td>
    <td><b>Date</b></td>
  </tr>
  <% @word.definitions.each do |definition| %>
    <tr>
      <td><%= definition.text %></td>
      <td><%= definition.user %></dt>
      <td><%= definition.created_at %></td>      
    </tr>
  <% end %>

</table>
