<% provide :title, "Definitions and history for '#{@word.term}'" %>

<% if @word.current_definition %>
  <table class="table">
    <thead>
      <tr>
        <th class="span8">Current Definition</th>
        <th class="span2">Author</th>
        <th class="span2">Votes</th>
        <th class="span2">Contributor</th>
        <th class="span2">Date Added</th>
      </tr>
    </thead>

    <%= render :partial => "definition", :locals => {:definition => @word.current_definition} %>
  </table>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="span8">Suggested Definitions</th>
      <th class="span2">Author</th>
      <th class="span2">Votes</th>
      <th class="span2">Contributor</th>
      <th class="span2">Date Added</th>
    </tr>
  </thead>
  <% @definitions.each do |definition| %>
    <%= render :partial => "definition", :locals => {:definition => definition} unless definition == @word.current_definition %>
  <% end %>
</table>
